.cabecalho{
  align-items: center;
  background-color: #f9f9f9;
  display:flex;
  justify-content: space-between;
  padding-right:2rem;
  padding-left:2rem;

  
}

@media(max-width:500px){
  .cabecalho{
    align-items: center;
    background-color: #f9f9f9;
    display:flex;
    justify-content:space-between;
    padding: 0
  }  
}